<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Ventas</title>
<div th:replace="/admin/panel :: assets"></div>
</head>
<div th:replace="/admin/panel :: mainheader"></div>
<body>
	<div class="container">
		<div align="center" class="mb-4">
			<h1>Pagos de clientes</h1>
		</div>
		
		<div th:if="${msgEstado == 'OK'}" class="alert alert-success alert-dismissible fade show" role="alert">
			 <span th:text="${msgRespuesta}"></span>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
		
		<div>
			Rut : <spam th:text="${venta.persona.rut}"></spam>
			<br>
			Monto deuda : <spam th:text="${venta.montoTotal}"></spam>
			<input type="hidden" name="montoDeuda" th:value="${venta.montoTotal}">
			<br>
			Total abonos : <spam th:text="${montoAbonos}"></spam>
			<input type="hidden" name="montoAbonos" th:value="${montoAbonos}">
			<br>
			Saldo Deuda : <Strong><spam th:text="${venta.montoTotal - montoAbonos}"></spam></Strong>
			<br>
			Fecha compra : <spam th:text="${venta.fechaVenta}"></spam>
		</div>

		<table border="1" cellpadding="10" class="table table-hover">
			<thead>
				<tr>
					<th>Código de abono</th>
					<th>Monto pagar</th>
					<th>Monto abono</th>
					<th>Medio pago</th>
				</tr>
			</thead>
			<tbody>
<!-- 			<td th:if="${listPagos.size()} == 0"> No existen pagos</td> -->
			
				<tr th:each="pagos : ${listPagos}">
					<td th:text="${pagos.idPagoDeuda}"></td>
					<td th:text="${venta.montoTotal}"></td>
					<td th:text="${pagos.montoAbono}"></td>
					<td th:text="${pagos.medioPago.descripcion}"></td>
				</tr>
			</tbody>
		</table>

		<div th:if="${venta.montoTotal - montoAbonos != 0}" class="mt-2">
			<form method="POST" action="/clientes/generarAbono" id="generarAbono">
				<div >
					<label for="inputState">Monto a abonar</label>
				</div>
				<div>
					<input type="number" name="abono" value="0" required> 
					<input type="hidden" name="idDeuda" th:value="${deuda.idDeuda}">
				</div>
				<div>
					<label for="inputState">Medio de pago</label> 
						<select required
							name="idMedioPago" id="idMedioPago" class="form-control">
							<option value="">Seleccionar medio de pago</option>
							<option th:each="medioPago : ${listMedioPago}"
								th:if="${medioPago.idPago != VAR_ID_DEUDA}" th:value="${medioPago.idPago}" th:text="${medioPago.descripcion}"></option>
						</select>
				</div>
				<button type="submit" class="btn btn-success" id="abonar">Abonar</button>
			</form>
		</div>
	</div>
</body>
</html>